/* font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif; */

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
body{
    background-color: #333;
}
.header{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.header__list{
    padding-right: 163px;
}
.header__link:last-child{
    padding-right: 0px;
}
.header__link{
    padding-right: 63px;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.header__phone{
    font-size: 16px;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #D1A954;
    padding-bottom: 4px;
}